header {
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
    position: relative;
}

.links ul {
    display: flex;
}

.links li {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

header i {
    margin: 0 6px;
    font-size: 20px;
    display: inline-block;
}

header strong {
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

header strong::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background-color: var(--primaryColor);
    left: 0;
    display: block;
    height: 3px;
    width: calc(100% + 7px);
}

.rtl header strong::after {
    left: unset;
    right: 0;
}

.flagBtn {
    background: transparent;
    border: none;
    outline: none;
}

.linkToggle {
    display: none;
}

.navBtns {
    display: flex;
    align-items: self-end;
    justify-content: space-between;
}

.userAuth a {
    display: inline-block;
    width: 70px;
}

.userProfile {
    position: relative;
    margin: 0 15px;
}

.user_dropdown {
    position: absolute;
    right: 0;
    background: var(--backgroundColor);
    padding: 0;
    width: 100px;
    border: 1px solid var(--primaryColor);
    border-radius: 4px;
    top: 43px;
}

.user_dropdown a {
    display: block;
    padding: 3px;
}

.user_dropdown a:hover {
    background-color: var(--foregroundColor);
    color: var(--primaryColor);
}

@media screen and (max-width: 991px) {
    header {
        padding: 0 15px;
    }

    .links ul {
        position: absolute;
        top: 58px;
        left: 0px;
        flex-direction: column;
        background: var(--backgroundColor);
        height: calc(100vh - 58px);
        color: var(--primaryColor);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 0.7s ease-in-out;
        border-right: 1px solid var(--primaryColor);
        width: 200px;
    }

    header strong {
        font-size: 18px;
    }

    .linkToggle {
        display: block;
        position: absolute;
        right: 0;
        top: 5px;
    }

    .linkToggle i {
        font-size: 29px;
    }

    .navBtns {
        margin-right: 15px;
    }

    .rtl .toggle-container {
        margin-left: 20px;
    }

    .rtl .links ul {
        right: 0;
        left: unset;
        border-left: 1px solid var(--primaryColor);
        border-right: 0;
        width: 160px;
    }

    .rtl .linkToggle {
        left: 0;
        right: unset;
    }
}